<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sty.css">
    <title>Home</title>
</head>

<body background="../static/img/fundo.png">

    <table border="0" width="900" align="center">

        <tr>
            <td height="90"><img src="../static/img/logo.png" alt=""></td>
            <td align="right">
                <a href="/">Home |</a>
                <a href="/quem_somos">Quem Somos |</a>
                <a href="/contato">Contato</a>
            </td>
        </tr>

        {% block content %}

        {% endblock %}
        

        <tr>
            <td colspan="2" align="center">
                <h4>Todos os direitos reservados</h4>

            </td>
        </tr>

    </table>


</body>

</html>